# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
venv/
winvenv/
ENV/
*.egg-info/

# FastAPI/uvicorn
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Compiled files
*.iso

djui/__pycache__/

# Backup files
*~
*.bak

# Misc
*.swp
*.swo
